.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: RiyaAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 5;
    animation-direction: reverse;
}
@keyframes RiyaAnimation{
    from {
        font-size: 20px;    
    }
    to {
        font-size: 40px;
    }
}