p{
    color: #ffa511;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: teal;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    font-family: League spartan;
    letter-spacing: 2px;
    line-height: 1.5ex;
    text-transform: uppercase;

}